SERVICE_NAME=payment-api
ENVIRONMENT=prod
TENANT=partner-a
LOG_PATH=/var/log/app/*.log
KAFKA_BROKERS=my-cluster-kafka-bootstrap.kafka-dung.svc:9092
KAFKA_TOPIC=vm-logs-topic
LOG_SCHEMA_NAME=dung-standard-log
LOG_SCHEMA_VERSION=1.0
LOG_SCOPE=external
LOG_SOURCE=external-app
PIPELINE_PRODUCER=fluent-bit

